.title{
  text-align: center;
  color: cadetblue;
}
.treeView {
margin-left: auto;
margin-right: auto;
}

/* ::ng-deep #treeview {
  height: 400px;
} */

.datagrid{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

